/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */

/* Sortable table headers */
th a {
  color: #333;
  text-decoration: none;
  display: block;
  padding: 5px;
}

th a:hover {
  background-color: #f0f0f0;
  text-decoration: underline;
}
